    <div class="container-fluid">
      <div class="row content">
	<h3>Configuration</h3>
        <div class="row content" ng-show="keys.length > 0">
	    <div class="col-sm-8 col-sm-offset-2 text-right">
		<button id="cfgSave" class="btn btn-md" type="button"
		    title="Save new config values to Indoor device"
		    ng-disabled="updateCfg != 1"> Save config </button>
		<button id="cfgApply" class="btn btn-md" type="button"
		    title="Reinitialize Indoor application (restart)"
		    ng-disabled="updateCfg != 2"> Apply changes</button>
	    </div>
	</div>
        <div class="row content">
	  <div id="content" class="col-sm-12 text-left" ng-show="keys.length > 0">
	    <ul>
	    <!-- indoor.ini elements -->
	    <li ng-repeat="k in keys" ng-show="k !== 'timezones'">
		<h4><span class="label label-info">{{langtxt(k)}}</span></h4>
		<div ng-repeat="(ke,va) in customers[k]" class="row"
		     ng-hide="(va.indexOf('button_') > -1) || (ke === 'uptime') || (username == 'admin' && (ke === 'sip_log' || ke === 'app_log' || ke === 'tunnel_flag') || ke === 'update_repo'))">
		    <span class="col-sm-4 text-right"> {{langtxt(ke)}} </span>
		    <input type="text" maxlength="128" class="col-sm-6" title="{{ke}}: {{somename_$index}}"
			ng-change="changeItem(k,ke,somename_$index)"
			ng-model-options="{ updateOn: 'keyup' }"
			ng-show="ke !== 'timezone' && cfgItemType(ke).length == 0"
			ng-model="somename_$index" ng-init="somename_$index=va"
			ng-disabled="(ke.indexOf('app_') > -1) || (ke === 'serial')" />
		    <select class="col-sm-6" title="{{ke}}: {{key_$index}}"
			ng-change="changeItem(k,ke,key_$index)"
			ng-model-options="{ updateOn: 'change' }"
			ng-show="ke !== 'timezone' && cfgItemType(ke).length > 0"
			ng-options="item for item in cfgItemType(ke)"
			ng-model="key_$index" ng-init="key_$index=va">
		    </select>
		</div>
	    </li>

	    <!-- TIMEZONE -->
	    <li>
		<h4><span class="label label-info">{{langtxt('timezones')}}</span></h4>
		<div class="row">
		    <span class="col-sm-4 text-right"> {{langtxt('timezone')}} </span>
		    <select class="col-sm-6" title="timezone: {{currTz.val}}"
			ng-change="changeItem('timezones','timezone',ke_timezone)"
			ng-model-options="{ updateOn: 'change' }"
			ng-options="item.text group by item.area for item in tzValues track by item.val"
			ng-model="ke_timezone">
		    </select>
		</div>
	    </li>
	    </ul>

	  </div>
	</div>

	<div class="col-sm-4 col-sm-offset-4 text-center" ng-show="inits == 0 && keys.length == 0">No INI found</div>
	<div class="col-sm-4 col-sm-offset-4 text-center" ng-show="inits != 0">Wait...</div>
      </div>
    </div>


  <!-- Modal confirm -->
  <div class="modal fade" id="confirmSaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:16px 48px;">
          <button type="button" class="close" style="margin-top:8px;"data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-ok"></span> Confirm </h4>
        </div>
        <div class="modal-body" style="padding:48px;">
            <p><h3>
	    You are going to rewrite INI file for Indoor application<br/><br/>Are you sure?
	    </h3></p>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button type="submit" class="btn btn-md btn-warning"
		ng-click="saveConfigItems()" data-dismiss="modal"><span class="col-md-3">
		<span class="glyphicon glyphicon-ok-circle"></span> OK </span></button>
            <button type="submit" class="btn btn-md btn-default" data-dismiss="modal"><span class="col-md-2">
		<span class="glyphicon glyphicon-ban-circle"></span> Cancel </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal confirm - end -->



    <script>
    $(function() {
        highlightMenuItem();

	$("#cfgSave").click(function() {
	    $("#confirmSaveModal").modal();
	});
	$("#cfgApply").click(function() {
	    $("#confirmModal").modal();
	});
	
    });
    </script>
