    <div class="container-fluid">
      <div class="row content">
        <h3>Logging</h3>

      </div>

      <div class="row content align-middle">
	<div class="col-sm-6 text-left align-baseline" style="margin-top:3px">
	    Show: &nbsp;<label for="cb_d"><input type="checkbox" id="cb_d" checked> debug </label>
	    &nbsp;&nbsp;<label for="cb_i"><input type="checkbox" id="cb_i" checked> info </label>
	    &nbsp;&nbsp;<label for="cb_w"><input type="checkbox" id="cb_w" checked> warning </label>
	    &nbsp;&nbsp;<label for="cb_e"><input type="checkbox" id="cb_e" checked> error </label>
	</div>
	<div class="col-sm-6 text-right">
	  <button id="btnStart" type="button" class="btn btn-sm" title="Start logging">
	    Start</button>
	  <button id="btnStopp" type="button" class="btn btn-sm disabled" title="Finish logging">
	    Stop</button>
	  <button id="btnSelec" type="button" class="btn btn-sm" title="Select content for Copy & Paste">
	    Select</button>
	  <button id="btnClear" type="button" class="btn btn-sm" title="Clear logging message window">
	    Clear</button>
        </div>
      </div>

      <div class="row content">
	<div id="content" class="text-left">
	    <div id="logcontent">Waiting...</div>
	</div>
      </div>
    </div>

    <script src="socket.io/socket.io.js"></script>

    <script>

    $(function() {
        highlightMenuItem();

	var portn = '' + window.location.port;
	if (portn === '' || portn === '0') portn = '80';

	if (socket == null)
	    socket = io.connect('http://' + window.location.hostname + ':' + portn, {'forceNew': true});

        socket.on('connect', function() {
	    $('#logcontent').html("Connected...<br/>");
	    socket.emit('msg_1', 'Hello World from client');
        });

	socket.on('disconnect', function() { /*socket = null;*/ });

	socket.on('messages', function(data) {
	    var FILL = 'span';
	    if (logActive > 0) {
		var intclass = '', ix, i, j, a;
		if (data.indexOf('[DEBUG ') > -1) intclass = ' cmsg_d';
		else if (data.indexOf('[INFO ') > -1) intclass = ' cmsg_i';
		else if (data.indexOf('[WARNING') > -1) intclass = ' cmsg_w';
		else if (data.indexOf('[ERROR ') > -1) intclass = ' cmsg_e';

		var regexp = /.\[DEBUG /gm;
		regexp.lastIndex = 10;
		data = data.replace(regexp, '<br/></'+FILL+'><'+FILL+' class="dbgmsgs cmsg_d">'+ ' [DEBUG ');
		regexp = /.\[INFO /gm;
		regexp.lastIndex = 10;
		data = data.replace(regexp, '<br/></'+FILL+'><'+FILL+' class="dbgmsgs cmdg_i">'+ ' [INFO ');
		regexp = /.\[WARNING /gm;
		regexp.lastIndex = 10;
		data = data.replace(regexp, '<br/></'+FILL+'><'+FILL+' class="dbgmsgs cmdg_w">'+ ' [WARNING ');
		regexp = /.\[ERROR /gm;
		regexp.lastIndex = 10;
		data = data.replace(regexp, '<br/></'+FILL+'><'+FILL+' class="dbgmsgs cmdg_e">'+ ' [ERROR ');

		try {
		    $('<'+FILL+' class="dbgmsgs' + intclass + '">' + data + '<br/></'+FILL+'>').appendTo('#logcontent');
		    $('div#logcontent').animate({"scrollTop": $('div#logcontent')[0].scrollHeight}, 1);
		}
		catch(err) { }

		if (!$('#cb_d').is(":checked")) $('.cmsg_d').hide();
		if (!$('#cb_i').is(":checked")) $('.cmsg_i').hide();
		if (!$('#cb_w').is(":checked")) $('.cmsg_w').hide();
		if (!$('#cb_e').is(":checked")) $('.cmsg_e').hide();
	    }
	});

	$('#content').css({'border':'1px solid black'});
	$('#logcontent').css({'height':'450px', 'overflow':'auto', 'margin':'4px 1px 1px 4px'});
        $('#cb_d').parent().parent().parent().css({'border':'1px solid black', 'border-bottom':'0', 'background-color':'#eee', 'padding':'1px'});

	$('#btnStart').click(function() {
	    logActive = 1;
	    $('#btnStart').addClass('disabled');
	    $('#btnStopp').removeClass('disabled');
	    $('#btnStart').prop( "disabled", true );
	    $('#btnStopp').prop( "disabled", false );
	});

	$('#btnStopp').click(function() {
	    logActive = 0;
	    $('#btnStart').removeClass('disabled');
	    $('#btnStopp').addClass('disabled');
	    $('#btnStart').prop( "disabled", false );
	    $('#btnStopp').prop( "disabled", true );
	});

	$('#btnSelec').click(function() {
//	    console.log(this);
	    selectText('logcontent');
	});

	$('#btnClear').click(function() {
	    $('#logcontent').html('');
	});

	$('#cb_d').change(function() {
	    if ($(this).is(":checked")) $('.cmsg_d').show();
	    else $('.cmsg_d').hide();
	});

	$('#cb_i').change(function() {
	    if ($(this).is(":checked")) $('.cmsg_i').show();
	    else $('.cmsg_i').hide();
	});

	$('#cb_w').change(function() {
	    if ($(this).is(":checked")) $('.cmsg_w').show();
	    else $('.cmsg_w').hide();
	});

	$('#cb_e').change(function() {
	    if ($(this).is(":checked")) $('.cmsg_e').show();
	    else $('.cmsg_e').hide();
	});

    });
    </script>