    <div class="container-fluid">
      <div class="row content">
	<h3>Services</h3>
      </div>
    </div>

    <div class="row content">
	<div class="col-sm-2 text-right">
            <p><button class="btn btn-md" type="button" title="Display call counters" ng-click="getCallCntrs()">
		Call counters
	    </button></p>
            <p><button class="btn btn-md" type="button" title="Display application log" ng-click="getAppLog()">
		App log
	    </button></p>
            <p><button class="btn btn-md" type="button" title="Display call log" ng-click="getCallLog()">
		Call log
	    </button><p/>
            <p><button class="btn btn-md" type="button" title="Display SIP log" ng-click="getSipLog()">
		SIP log
	    </button></p>
            <p><button id="rstApp" class="btn btn-md" type="button" title="Restart RPi GUI application">
		Restart app
	    </button></p>
            <p><button id="rstCfg" class="btn btn-md" type="button" title="Restore factory settings">
		Factory reset
	    </button></p>
	</div>

	<div class="col-sm-offset-2 text-left">
	    <div ng-show="msg != ''"> {{ msg }} </div>

	    <div class="text-right" ng-show="logs.length > 0">
		<button id="btnSelec" class="btn btn-sm btn-default" type="button" title="Select content for Copy & Paste"> Select </button>
	    </div>
	    <div ng-show="logs.length > 0" id="logcontent">
		<div ng-repeat="v in logs"> {{ v }} </div>
	    </div>

	    <div ng-show="keys.length > 0">
		<div ng-repeat="(k,v) in cntrs" style="margin:16px 0px;">
		    <span class="col-sm-3 text-right">{{langtxt(k)}}</span>: {{ v }}
		</div>
	    </div>
	</div>
    </div>


  <!-- Modal confirm -->
  <div class="modal fade" id="confirmFactoryModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:16px 48px;">
          <button type="button" class="close" style="margin-top:8px;"data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-ok"></span> Confirm </h4>
        </div>
        <div class="modal-body" style="padding:48px;">
            <p><h3>
            You are going to rewrite all config files.<br/>
	    This step cannot be undone.<br/><br/>Are you sure?
            </h3></p>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button type="submit" class="btn btn-md btn-danger"
                ng-click="factoryResetConfig()" data-dismiss="modal"><span class="col-md-3">
                <span class="glyphicon glyphicon-ok-circle"></span> OK </span></button>
            <button type="submit" class="btn btn-md btn-default" data-dismiss="modal"><span class="col-md-2">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal confirm - end -->


    <script>
    $(function() {
        highlightMenuItem();

	$('#logcontent').css({'height':'450px', 'overflow':'auto', 'border':'1px solid black'});
	$('#btnSelec').parent().css({'border':'1px solid black', 'border-bottom':'0', 'background-color':'#eee', 'padding':'1px'});

        $('#btnSelec').click(function(){
//          console.log(this);
            selectText('logcontent');
        });

        $("#rstApp").click(function() {
            $("#confirmModal").modal();
        });

        $("#rstCfg").click(function() {
            $("#confirmFactoryModal").modal();
        });

    });
    </script>
