    <div class="container-fluid">
      <div class="row content">
	<h3>Services</h3>
      </div>
    </div>

    <div class="row content">
	<div class="col-sm-2 text-right">
            <p><button class="btn btn-md" type="button" title="Display application log" ng-click="getAppLog()">
		App log
	    </button></p>
            <p><button class="btn btn-md" type="button" title="Display call counters" ng-click="getCallCntrs()">
		Call counters
	    </button></p>
            <p><button class="btn btn-md" type="button" title="Display call log" ng-click="getCallLog()">
		Call log
	    </button><p/>
            <p><button class="btn btn-md" type="button" title="Display SIP log" ng-click="getSipLog()">
		SIP log
	    </button></p>
            <p><button class="btn btn-md" type="button" title="Restart RPi GUI application" ng-click="restartApp()">
		Restart GUI app
	    </button></p>
	</div>

	<div class="col-sm-offset-2 text-left">
	    <div ng-show="msg != ''"> {{ msg }} </div>

	    <div class="col-sm-offset-10" ng-show="logs.length > 0">
		<button id="btnSelec" class="btn btn-md" type="button" title="Select content for Copy & Paste"> Select </button>
	    </div>
	    <div ng-show="logs.length > 0" id="logcontent">
		<div ng-repeat="v in logs"> {{ v }} </div>
	    </div>

	    <div ng-show="keys.length > 0">
		<div ng-repeat="(k,v) in cntrs">
		    <span class="col-sm-3 text-right">{{langtxt(k)}}</span>: {{ v }}
		</div>
	    </div>
	</div>
    </div>

    <script>
    $(function() {
        highlightMenuItem();

	$('#logcontent').css({'height':'450px', 'overflow':'auto', 'margin-top':'16px', 'border':'1px solid black'});

        $('#btnSelec').click(function(){
//          console.log(this);
            selectText('logcontent');
        });

    });
    </script>
